html, body {
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  font-family: 'VT323', monospace;
  color: #19ff00;
  text-align: center;
}

#parent-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

#symbol-container h2:hover, #restart-option:hover {
  border: 1px solid white;
  cursor: default;
}
#symbol-container, #symbol-container h2 {
  display: inline;
  padding: 10px;
  -webkit-transition: opacity .5s ease-out, .1s ease-in;
  -moz-transition: opacity .5s ease-out, .1s ease-in;
  -ms-transition: opacity .5s ease-out, .1s ease-in;
  -o-transition: opacity .5s ease-out, .1s ease-in;
  opacity: 1;
}

#board, #instructions {
  -webkit-transition: opacity .5s ease-out, 2s ease-in;
  -moz-transition: opacity .5s ease-out, 2s ease-in;
  -ms-transition: opacity .5s ease-out, 2s ease-in;
  -o-transition: opacity .5s ease-out, 2s ease-in;
  opacity: 0;
}

.rows {
  display: flex;
  flex-direction: row;
}

.squares {
  border: 1px solid #19ff00;
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 5em;
  padding-top: 10px;
}
